@{
    ViewData["Title"] = "Página Inicial";
}

<div class="home" id="content-home">
    <section class="banner">

        <div class="container">

            <h2 class="text-center pt-5 text-light">Perigo do Lixo no Mar</h2>

            <p class="text-center text-light">Se nem você consegue viver na sujeira, por que a vida marinha tem que viver também?</p>

        </div>

    </section>
    <section class="main pt-5 pb-5">


        <div class="container px-5">
            <h2 class="text-center text-white">Os cinco primeiros animais maritimos em extinção</h2>
            <p class="text-center text-white mb-4">Quer ter a chance de ver algum desses animais pessoalmente algum dia, então seja conciente e cuide do seu lixo, nos ajude a preservar a vida destes animais.</p>
        </div>

        <div class="container">

            <div class="row">

                <div class="card float-left card_first px-0 my-2 column-1 mx-4">
                    <img class="card-img-top" src="~/img/vaquita.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white text-center card-text">Vaquita</h5>
                    </div>
                </div>
                <div class="card float-right px-0 my-2 column-1 mx-4">
                    <img class="card-img-top" src="~/img/baleia_azul.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white text-center card-text">Baleia-Azul</h5>
                    </div>
                </div>
                <div class="card float-left px-0 my-2 column-1 mx-4 card_third">
                    <img class="card-img-top" src="~/img/peixe-boi.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white text-center card-text">Peixe-Boi Marinho</h5>
                    </div>
                </div>
                <div class="card float-right px-0 my-2 column-1 mx-4">
                    <img class="card-img-top" src="~/img/Tar_couro.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white text-center card-text">Tartaruga-de-Couro</h5>
                    </div>
                </div>
                <div class="card float-left px-0 my-2 card_fifty column-1 mx-4">
                    <img class="card-img-top" src="~/img/Tar_pente.jpg" alt="Card image cap">
                    <div class="card-img-overlay">
                        <h5 class="card-title text-white text-center card-text">Tartaruga-de-Pente</h5>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="about">

        <div class="container">

            <h3 class="text-center">Nosso Mar</h3>

            <p class="text-justify">
                Este site tem o proposito de concentizar sobre o quanto nosso lixo é perigoso para o mar e a fauna marinha e dar dicas de como evitar que o lixo vá para o mar, sendo o lixo prejudicial para nós mesmos, ele dificulta a produção de oxigênio do mundo, já que o "pulmão" do planeta são as algas marinhas, centenas de seres marinhos acabam morrendo por ano, por confundir o lixo com sua comida natural, por acabarem presos nos lixos e não conseguirem excapar e morrerem de fome ou por outros predadores que também acabam morrendo por comer o lixo junto com sua presa.
            </p>

        </div>
    </section>
</div>