@{
    ViewData["Title"] = "Quem Somos";
}

<div class="quemSomos" id="content-quemSomos">

    <section class="banner bg-primary">

        <h2 class="text-white">Marine Life</h2>

    </section>
    <section class="content">

        <div class="container">

            <h2 class="h1 pt-5 text-center">O que queremos</h2>

            <p class="text-center px-5 pb-5">Queremos que nossos mares sejam mais limpos e seguros para que a vida marinha e sua cadeia alimentar, queremos que as espécies deixem de estar em extinção e que nossas futuras gerações possam ver ou ter a chance de tocar nessas espécies, queremos que o ecossistema estejam livres da poluição humana e que tenham a chance de prosperar e voltarem a um número bom de individuis de cada espécie em extinção, como os corais, tartarugas e outros animais e vegetais maritimos.</p>

            <div class="row">

                <div class="column-3 border border-info rounded p-3 mb-5">
                    <img src="~/img/tartaruga_rede_pesca.jpg" class="mx-5">
                    <h2 class="text-center mb-2">Não Queremos</h2>
                    <p class="text-justify">Queremos acabar com as pescas ilegais e com o tratamento de lixo indevido, queremos que vidas de seres vivos acabem por conta de lixo e caça ilegal de peixes e animais aquaticos, desequilibrando a cadeia alimentar e acabando com ecossistemas aquaticos.</p>
                </div>
                <div class="column-3 border border-info rounded p-3 mb-5">
                    <img src="~/img/planeta.png" class="mx-5">
                    <h2 class="text-center mb-2">Queremos que Fique</h2>
                    <p class="text-justify">Queremos que o mundo, não só os oceanos estejam limpos do lixo e caça/pesca ilegal, não conseguiremos deixar o mundo 100% limpo, mas queremos tentar chegar lá, que todos saibam como reutilizar e descartar seus lixos de forma limpa, segura e bom para todos, para nós e para o meio ambiente, assim o mundo poderia evoluir e deixar de se preocupar com questões como essa no mundo e automaticamente, muitas espécies conseguiriam viver durantes séculos.</p>
                </div>
                <div class="column-3 border border-info rounded p-3 mb-5">
                    <img src="~/img/Queremos.jpg" class="mx-5">
                    <h2 class="text-center mb-2">Queremos Fazer</h2>
                    <p class="text-justify">Queremos que nossas futuras gerações possam conhecer todo esse mundo inexplorado, que as futuras gerações conheçam todas essas espécies e que os seres vivos e a propria vegetação aguentem mais tempo possivel sem as redes de pescas, lixos e que consigam prosperar novamente e se repopular.</p>
                </div>

            </div>

            <h2 class="h1 text-center mb-5">Veja alguns lugares onde é possivel ver um mundo sem lixo</h2>

        </div>
        <iframe width="100%" height="480" src="https://www.youtube.com/embed/qkhsbglmVzw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
</div>