@model Projeto.Models.User

@{ ViewData["Title"] = "Details"; }

<div class="container">
    <h1 class="text-center py-5">Usuários</h1>

    <div class="col-6 container my-3 pb-4 pt-5 border border-primary bg-info text-white">
        <dl class="row">
            <dt class="col-sm-6">
                Nome
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-6">
                Email
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </dl>
    </div>
    <div class="text-center">
        <a class="btn btn-danger text-center" href="~/Usuarios/Inicio">Voltar</a>
    </div>
</div>