@model Projeto.Models.User

@{ ViewData["Title"] = "Página de Login"; }
<h1 class=" pt-5 text-center">@ViewData["Title"]</h1>

<div class="container cadastro">
    <form asp-action="Login">
        <div class="form-group">
            <label asp-for="Name">Nome <span class="text-danger">*</span></label>
            <input type="text" class="form-control" asp-for="Name" name="Name" id="name" placeholder="Coloque o seu nome">
        </div>
        <div class="form-group">
            <label asp-for="Password">Senha <span class="text-danger">*</span></label>
            <input type="password" class="form-control" asp-for="Password" name="Password" id="Password" placeholder="Coloque a sua senha">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
    <p class="text-center text-danger">@ViewBag.Erro</p>
</div>
